/*
 * Variables
 */
/*
 * Content
 */
@font-face {
  font-family: 'BPreplay';
  src: url(../fonts/BPreplay.otf); }
body {
  background-color: #fff; }

h1, h2, h3, h4, h5 {
  color: #005300;
  font-family: "BPreplay", sans-serif;
  position: relative; }

h2, .modal h3 {
  border-bottom: 1px solid #aa6c39;
  padding-bottom: 10px; }

a, a:link {
  color: #aa6c39; }

a:hover {
  color: #552700;
  text-decoration: underline; }

ul, ol {
  padding-left: 15px; }

*:focus {
  outline: none; }

label {
  color: #aa6c39;
  cursor: pointer;
  margin-right: 0px !important;
  font-weight: normal;
  margin-left: 10px; }

label:hover {
  color: #552700;
  text-decoration: underline; }

input[type="checkbox"] {
  cursor: pointer;
  border-color: #aa6c39;
  position: relative;
  top: 2px; }

input.date {
  display: inline-block;
  width: 150px;
  border-radius: 5px 0px 0px 5px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

table {
  border: 1px solid #DDD;
  width: 100%;
  margin-bottom: 1.25rem; }
  table th {
    padding: 5px;
    font-size: 14px; }
  table tr.alt, table tr.even, table tr:nth-of-type(2n) {
    background: #F9F9F9 none repeat scroll 0% 0%; }
  table td {
    padding: 5px;
    font-size: 12px; }
  table.quiet {
    padding: 0px;
    margin: 0px;
    border: 0px; }
    table.quiet td, table.quiet td {
      padding: 0px;
      margin: 0px;
      border: 0px; }

.button, .reveal-modal .button.close-reveal-modal {
  background-color: #aa6c39;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 0px;
  border-radius: 5px;
  position: initial;
  font-weight: initial;
  line-height: initial;
  display: inline-block; }
  .button:link, .button:visited, .button:active, .reveal-modal .button.close-reveal-modal:link, .reveal-modal .button.close-reveal-modal:visited, .reveal-modal .button.close-reveal-modal:active {
    background-color: #aa6c39;
    color: #fff;
    text-decoration: none !important; }
  .button:hover, .button button:hover, .button.close-reveal-modal:hover, .reveal-modal .button.close-reveal-modal:hover, .reveal-modal .button.close-reveal-modal button:hover, .reveal-modal .button.close-reveal-modal.close-reveal-modal:hover {
    color: #fff !important;
    background-color: #552700;
    text-decoration: none !important; }
  .button.reverse, .reveal-modal .button.close-reveal-modal.reverse {
    background-color: #fff7f1;
    color: #552700;
    border: 1px solid #552700; }
  .button.reverse:hover, .reveal-modal .button.close-reveal-modal.reverse:hover {
    background-color: #aa6c39;
    color: #fff; }
  .button.sm, .reveal-modal .button.close-reveal-modal.sm {
    padding: 5px;
    position: relative;
    top: -2px; }
  .button.fade, .reveal-modal .button.close-reveal-modal.fade {
    opacity: 0.2; }
  .button.fade:hover, .reveal-modal .button.close-reveal-modal.fade:hover {
    opacity: 1; }
  .button.disabled, .reveal-modal .button.close-reveal-modal.disabled {
    cursor: not-allowed;
    background-color: #8A8A8A; }

.error {
  color: #f00;
  font-size: 12px; }

.glyphicon {
  margin-right: 10px; }
  .glyphicon:hover, .glyphicon:visited {
    text-decoration: none; }

.subtext {
  font-size: 12px;
  float: right;
  margin-top: 15px; }

.tooltip {
  border-radius: 5px;
  padding: 5px 10px;
  display: inline !important;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #1e1f22 !important;
  width: 250px; }
  .tooltip .tooltip-inner {
    background: none;
    width: 100% !important;
    max-width: 250px; }
  .tooltip.top {
    margin-top: -10px; }

.modal-header {
  padding: 10px 15px 0px 15px;
  border: 0px; }

#gtProduceSelect ul {
  list-style: none;
  margin: 0px;
  margin-bottom: 1.25rem; }
#gtProduceSelect li {
  margin-bottom: 2px; }
#gtProduceSelect table {
  width: 100%; }
#gtProduceSelect td {
  padding: 5px;
  font-size: 12px; }
#gtProduceSelect abbr {
  font-size: 12px; }
#gtProduceSelect td:first-child {
  width: 120px; }
#gtProduceSelect input {
  margin-bottom: 0px; }
#gtProduceSelect .gt-produce {
  display: inline-block;
  position: relative;
  top: 7px; }
#gtProduceSelect .button.reverse {
  width: 100%;
  text-align: left; }
#gtProduceSelect .dropdown-menu td {
  padding: 0px; }

#gtProduceSearch .dropdown-menu {
  width: 100%; }
  #gtProduceSearch .dropdown-menu a {
    padding-left: 5px; }

#gt-container {
  font-size: 0.9em; }
  #gt-container .row {
    max-width: 100%; }

.gt-col {
  float: left;
  text-align: center;
  width: 8.333%;
  background: #f7f7f7 url("../img/pixel-white.png") repeat-y right top; }
  .gt-col:first-child {
    border-radius: 5px 0px 0px 5px; }
  .gt-col:last-child {
    border-radius: 0px 5px 5px 0px; }

#gt-schedule {
  border-top: 1px solid #aa6c39;
  padding-top: 20px; }
  #gt-schedule h3, #gt-schedule .tabs {
    border-bottom: 1px solid #aa6c39; }

#gt-header {
  background-color: #1e1f22;
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 0px;
  border: 0px;
  margin-bottom: 0px;
  position: relative; }
  #gt-header #logo {
    color: #aa6c39;
    font-family: "BPreplay", sans-serif;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none !important; }
    #gt-header #logo .green {
      color: #2d882d !important; }
    #gt-header #logo .white {
      color: #fff !important; }
    #gt-header #logo:hover, #gt-header #logo:active {
      color: #aa6c39 !important; }
  #gt-header p {
    margin: 0px;
    color: #fff;
    font-family: "BPreplay", sans-serif;
    position: relative;
    top: -20px;
    left: 25px;
    margin-bottom: -5px;
    display: inline; }
  #gt-header #gtViewing {
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: #fff; }
    #gt-header #gtViewing span {
      color: #2d882d; }

.dropcal {
  display: inline-block;
  border-radius: 0px 5px 5px 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  font-size: 20px;
  line-height: 34px; }

#today {
  position: relative;
  top: -2px; }

#gt-new-area {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: left;
  margin-left: 10px;
  margin-top: 5px; }

#gt-calendar h2 {
  border-top: 1px solid #aa6c39;
  border-bottom: 0px;
  padding-top: 20px; }
#gt-calendar #legend {
  font-size: 9px; }
  #gt-calendar #legend span {
    padding: 3px 5px;
    color: #fff;
    border-radius: 5px; }
  #gt-calendar #legend .leg-seedling {
    background-color: #00a627; }
  #gt-calendar #legend .leg-growing {
    background-color: #037200; }
  #gt-calendar #legend .leg-harvest {
    background-color: #c79359; }
  #gt-calendar #legend .leg-frost {
    background-color: #00aeef; }

#gt-areas {
  position: relative;
  clear: both; }

#gt-today {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px; }

#gt-today .tall {
  height: 100%;
  position: relative; }

#gt-main-line {
  background-color: #f00;
  position: absolute;
  width: 1px;
  height: 100%; }

#gt-today-line {
  background-color: #007ba4;
  position: absolute;
  width: 1px;
  height: 100%; }

#gt-frost-spring {
  position: absolute;
  left: 0px;
  height: 100%;
  background-color: #00aeef;
  opacity: 0.1; }

#gt-frost-fall {
  position: absolute;
  right: 0px;
  height: 100%;
  background-color: #00aeef;
  opacity: 0.1; }

.gt-area {
  padding-bottom: 10px;
  margin-bottom: 5px;
  background-color: #f7f7f7; }
  .gt-area .gt-area-title {
    min-width: 295px;
    display: inline-block; }
  .gt-area .delete {
    float: right; }
  .gt-area .gtAdd {
    font-size: 10px;
    position: relative;
    top: -6px; }
  .gt-area h3 {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px; }
  .gt-area:last-child {
    margin-bottom: 0px; }
  .gt-area .gt-area-row {
    position: relative;
    height: 25px;
    overflow: hidden; }
  .gt-area .gt-seedlings {
    position: absolute;
    z-index: 11;
    top: 0px;
    background-color: #00a627;
    height: 25px;
    border-radius: 5px 0px 0px 5px; }
  .gt-area .gt-directsow {
    background-color: #037200; }
  .gt-area .gt-growing {
    position: absolute;
    z-index: 12;
    top: 0px;
    background-color: #037200;
    height: 25px; }
  .gt-area .gt-harvest {
    position: absolute;
    z-index: 10;
    top: 0px;
    background-color: #c79359;
    height: 25px;
    border-radius: 0px 5px 5px 0px; }
  .gt-area .gt-area-item {
    margin-bottom: 1px; }
    .gt-area .gt-area-item img {
      margin-right: 10px;
      float: left; }
  .gt-area .gt-details {
    float: right;
    padding-top: 6px; }
    .gt-area .gt-details:hover {
      text-decoration: none; }

.gt-produce {
  background: url("../img/thumbs/sprite-produce.png") no-repeat 0px 0px;
  padding-left: 30px;
  line-height: 25px;
  min-height: 25px;
  position: relative; }
  .gt-produce.cucumber {
    background-position: 0px -50px; }
  .gt-produce.broccoli {
    background-position: 0px -100px; }
  .gt-produce.brussel_sprouts {
    background-position: 0px -150px; }
  .gt-produce.carrot {
    background-position: 0px -200px; }
  .gt-produce.lettuce {
    background-position: 0px -250px; }
  .gt-produce.melon {
    background-position: 0px -300px; }
  .gt-produce.potato {
    background-position: 0px -350px; }
  .gt-produce.pumpkin {
    background-position: 0px -400px; }
  .gt-produce.sweet_potato {
    background-position: 0px -450px; }
  .gt-produce.squash {
    background-position: 0px -500px; }
  .gt-produce.swiss_chard {
    background-position: 0px -550px; }
  .gt-produce.tomato {
    background-position: 0px -600px; }
  .gt-produce.bell_pepper {
    background-position: 0px -650px; }
  .gt-produce.spinach {
    background-position: 0px -700px; }
  .gt-produce .inline {
    display: inline !important; }

#gt-cal-header {
  padding-bottom: 5px !important; }

input.calendar {
  border-radius: 5px 0px 0px 5px; }

.dropdown-menu {
  z-index: 20;
  font-size: 14px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
  outline: 0px; }
  .dropdown-menu div:active {
    outline: none; }
  .dropdown-menu li {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .dropdown-menu table {
    min-width: 350px; }
  .dropdown-menu thead, .dropdown-menu tr, .dropdown-menu th {
    background: none;
    padding: 0px; }
  .dropdown-menu td {
    background: none;
    border: 0px;
    padding: 0px;
    width: 42px; }
  .dropdown-menu button {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    border-color: #fff;
    padding: .5625rem .625rem;
    background-color: #fff7f1;
    color: #552700; }
  .dropdown-menu button:hover, .dropdown-menu button.btn-info {
    background-color: #aa6c39;
    color: #fff; }
  .dropdown-menu .btn-group {
    width: 100%;
    padding: 0px 10px; }
  .dropdown-menu .btn {
    width: 100%; }
  .dropdown-menu .btn.active span {
    color: #fff; }
  .dropdown-menu .btn-group .btn-info {
    margin-bottom: 10px; }
  .dropdown-menu .btn-danger, .dropdown-menu .btn-success {
    display: none; }
  .dropdown-menu button span {
    background-color: none; }
  .dropdown-menu .glyphicon {
    margin: 0px; }

.gt-edit {
  display: none;
  font-size: 75%;
  vertical-align: text-top;
  margin: 0px;
  margin-left: 5px;
  border: 0px;
  color: #aa6c39; }
  .gt-edit:hover {
    text-decoration: none;
    border: 0px;
    color: #552700; }
  .gt-edit.gt-delete {
    position: absolute;
    right: 15px;
    padding-left: 10px; }

h2:hover .gt-edit, h3:hover .gt-edit, h4:hover .gt-edit, .gt-produce:hover .gt-edit {
  display: inline-block; }

.gt-produce .gt-edit {
  vertical-align: initial;
  font-size: 100%;
  float: right;
  position: initial; }

/*
 * Custom Media Queries
 */
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 30px; }

  h2 {
    font-size: 24px;
    padding-top: 10px;
    border-top: 1px solid #AA6C39;
    border-bottom: 0px; }

  .modal h2 {
    border: 0px;
    border-bottom: 1px solid #AA6C39; }

  h3 {
    font-size: 18px;
    margin-top: 0px;
    position: relative; }

  .modal h3 {
    padding-top: 15px; }

  .gt-details {
    display: none; }

  .modal hr {
    display: none; }

  .gt-area .glyphicon {
    margin-right: 0px; }
  .gt-area .delete {
    display: none; }
  .gt-area .gt-area-title {
    min-width: auto;
    top: 0px; }
  .gt-area .gtAdd {
    top: auto;
    position: absolute;
    right: 0px; }
  .gt-area .gt-details {
    float: left; }

  .uib-datepicker-popup {
    left: 0px !important;
    right: 0px !important; } }
@media only screen and (min-width: 751px) and (max-width: 970px) {
  .gt-area .gt-area-title {
    min-width: auto; }
  .gt-area .glyphicon {
    margin-right: 0px; }
  .gt-area .gt-details {
    float: left; } }
@media only screen and (min-width: 971px) and (max-width: 1170px) {
  .gt-produce span {
    font-size: 14px; }

  .gt-area .glyphicon {
    margin-right: 10px; } }

/*# sourceMappingURL=greenthumb.css.map */
