<div class="gt-area clearfix" ng-repeat="area in data track by $index">
     <div class="col-md-12">
        <h3>
            <span class="gt-area-title">{{area.label}}</span>
            <a class="glyphicon glyphicon-remove sm delete" href="" data-toggle="modal" data-target="#gtModalDelete" data-placement="top" ng-click="areaDelete($index, area.label)"></a>
            <a class="has-tip button sm gtAdd" href="" data-toggle="modal" data-target="#gtModalAdd" ng-click="addProduceStep1($index)"><span class="glyphicon glyphicon-plus "></span><span class="visible-lg-inline visible-md-inline">Add Produce</span></a>
        </h3>
    </div>
  
    <div class="gt-area-item clearfix gt-season-{{produce2.dom.season}}" ng-repeat="produce2 in area.produce track by $index" 1ng-if="produce2.visible == true">
        
         <div class="col-md-3 col-sm-2 col-xs-2">
            <div class="gt-produce {{produce2.img}}">
                <div class="inline">
                    
                    <a class="glyphicon glyphicon-search gt-details has-tip" href="" data-toggle="modal" data-target="#gtModalDetails" uib-tooltip="View {{produce2.label}} {{produce2.label_parent}} Details" data-placement="top" ng-click="gtDetails(produce2, $parent.$index, $index)"></a>
                    <!-- 
                    <span class="visible-xs  visible-sm">{{produce2.label_short}}</span>
                    -->
                    <span class="visible-md">{{produce2.label}} </span>
                    <span class="visible-lg">{{produce2.label}} {{produce2.label_parent}}</span>
                    <span class="visible-lg" ng-if="produce2.plantCount"></span>
                </div>
            </div>
        </div>
        
         <div class="col-md-9 col-sm-10 col-xs-10">
            <div class="gt-area-row">
                <div class="gt-seedlings" ng-class="{ 'gt-directsow': produce2.directSow}" style="left:{{produce2.dom.pSeedlings}}%;width:{{produce2.dom.wSeedlings}}%;"></div>
                <div class="gt-growing" style="left:{{produce2.dom.pGrowing}}%;width:{{produce2.dom.wGrowing}}%;"></div>
                <div class="gt-harvest" style="left:{{produce2.dom.pHarvesting}}%;width:{{produce2.dom.wHarvesting}}%;"></div>

                <div ng-if="produce2.dom.pSeedlings + produce2.dom.wSeedlings > 100" class="gt-seedlings"  ng-class="{ 'gt-directsow': produce2.directSow}" style="left:{{-(100 - produce2.dom.pSeedlings)}}%;width:{{produce2.dom.wSeedlings}}%;"></div>
                <div ng-if="produce2.dom.pGrowing + produce2.dom.wGrowing > 100" class="gt-growing" style="left:{{-(100 - produce2.dom.pGrowing)}}%;width:{{produce2.dom.wGrowing}}%;"></div>
                <div ng-if="produce2.dom.pHarvesting + produce2.dom.wHarvesting > 100" class="gt-harvest" style="left:{{-(100 - produce2.dom.pHarvesting)}}%;width:{{produce2.dom.wHarvesting}}%;"></div>
            </div>
        </div>
      
    </div>
</div>