<div ng-controller="gtInteractive"> 

    
    <!-- Add Area -->
    <div class="modal fade" id="gtModalArea" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3><span class="glyphicon glyphicon-plus"></span>Add New Growing Area</h3>
                </div>

                <div class="modal-body">
                    <p><input type="text" class="form-control" placeholder="Enter Area Name" ng-model="area.label" id="areaAdd"/></p>
                    <p><a href="" class="button" ng-click="areaAdd()">Add Area</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Area -->

    
    <!-- Delete Area/Produce -->
    <div class="modal fade" id="gtModalDelete" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>Delete {{delete.label}}?</h3>
                </div>

                <div class="modal-body">
                    <p ng-if="delete.type == 'area' ">This will also delete all the produce in this area.</p>
                    <p><a href="" class="button" ng-click="deleteStep2()">Yes</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Delete Area/Produce -->

    
    <!-- Add Produce -->
    <div class="modal fade" id="gtModalAdd" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3><span class="glyphicon glyphicon-plus"></span>Add Produce</h3>
                </div>

                <div class="modal-body" style="padding:20px;">
                    <div id="gtProduceSelect">

                        <script type="text/ng-template" id="customTemplate.html">
                            <a class="gtSearchOption">
                            <div class="gt-produce {{match.model.img}}"></div>
                            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                            </a>
                        </script>
                        <div id="gtProduceSearch">
                            <p>
                                <input type="text"
                                       ng-model="gtSearchTerm" 
                                       placeholder="Enter Search Term" 
                                       uib-typeahead="item as item.label for item in produce | filter:{label:$viewValue}" 
                                       typeahead-template-url="customTemplate.html" 
                                       class="form-control" 
                                       typeahead-show-hint="true" 
                                       typeahead-min-length="1" focus="shouldBeOpen"/>
                            </p>
                            <div class="error" ng-if="error.plant">Please select a plant</div>
                        </div>

                            <div ng-if="selection.label">
                                <div class="row">
                                    <hr/>
                                    <div class="col-md-6">
                                        <h3>Pick Outdoor Plant Date</h3>
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                Date : <input type="text" class="form-control date"
                                                              uib-datepicker-popup="MM/dd/yyyy" 
                                                              ng-model="options.date"
                                                              is-open="status.opened"/>
                                            </div>
                                            <div class="pull-left">
                                                <a type="submit" href="" class="glyphicon glyphicon-calendar dropcal button" value="Cal" ng-click="open($event)"></a>
                                                <div class="error" ng-if="error.date2">Please select an outdoor plant date</div>
                                            </div>
                                        </div>

                                        <h4>Recommended Plant Dates:</h4>
                                        <table ng-if="dateRange.growingseason">
                                            <th>Without Cold Weather Gardening Techniques</th>
                                            <tr>
                                                <td>Plant between <strong ng-bind="dateRange.warm_earliest"></strong> and <strong ng-bind="dateRange.warm_latest "></strong></td>
                                            </tr>

                                            <th>With Cold Weather Gardening Techniques</th>
                                            <tr>
                                                <td>Plant between <strong ng-bind="dateRange.cold_earliest"></strong> and <strong ng-bind="dateRange.cold_latest "></strong></td>
                                            </tr>
                                        </table>

                                        <div ng-if="dateRange.frost_spring == 'No Risk Of Frost' && dateRange.frost_spring !='Not Set' ">
                                            <p>No risk of frost. Lucky you.</p>
                                            <p>Theoretically you can plant all year but certain plants do better in warmer/cooler weather.</p>
                                        </div>

                                        <div ng-if="dateRange.frost_spring == 'Not Set' ">
                                            <p>First/last frost dates not specified. Please add those in the options menu to get recommendations for planting dates.</p>
                                        </div>

                                        <table class="hide">
                                            <tr>
                                                <td style="width: 160px;">Average Last Day Of Frost</td>
                                                <td><strong ng-bind="daterange.frost_spring"></strong></td>
                                            </tr>
                                            <tr>
                                                <td>Average First Day Of Frost</td>
                                                <td><strong ng-bind="daterange.frost_fall"></strong></td>
                                            </tr>
                                            <tr>
                                                <td>Growing Season</td>
                                                <td><strong ng-bind="daterange.growingseason + ' days'"></strong></td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-6">

                                        <h3>Plant Details <a href="" style="font-size:11px;">Edit/Customize</a></h3>
                                        <table>
                                            <tr ng-if="selection.label">
                                                <td style="width:50%;">Name / Variety</td>
                                                <td ng-bind="selection.label"></td>
                                            </tr>
                                            <tr ng-if="selection.maturity">
                                                <td style="width:50%;">Days To Maturity</td>
                                                <td ng-bind="selection.maturity"></td>
                                            </tr>
                                            <tr ng-if="selection.harvest">
                                                <td>Harvest Length</td>
                                                <td ng-bind="selection.harvest + ' Week/s'"></td>
                                            </tr>
                                            <tr ng-if="selection.startType">
                                                <td>Direct Sow / Seedlings</td>
                                                <td ng-bind="selection.startType"></td>
                                            </tr>

                                            <tr ng-if="selection.spacing">
                                                <td>Spacing</td>
                                                <td  ng-bind="selection.spacing + ' Inches'"></td>
                                            </tr>
                                            <tr ng-if="selection.rowsPerBed">
                                                <td>Rows Per Bed</td>
                                                <td ng-bind="selection.rowsPerBed"></td>
                                            </tr>
                                            <tr ng-if="selection.vertical">
                                                <td>Grow Vertically / Trellis </td>
                                                <td ng-bind="selection.vertical ? 'Yes'  : 'No'"></td>
                                            </tr>
                                            <tr ng-if="selection.yield">
                                                <td>Estimated Yield<br/> per 1.5' x 30' bed</td>
                                                <td ng-bind="selection.yield + ' ' + selection.yieldType"></td>
                                            </tr>
                                            <tr ng-if="selection.hardiness">
                                                <td>Hardiness</td>
                                                <td>
                                                    <abbr title="Will Not Survive Frost"    ng-if="selection.hardiness == 'Frost-Intolerant' ">Frost-Intolerant</abbr>
                                                    <abbr title="Protect From Frost"        ng-if="selection.hardiness == 'Frost-Sensitive' ">Frost-Sensitive</abbr>
                                                    <abbr title="Handle A Little Frost"     ng-if="selection.hardiness == 'Moderately-Hardy' ">Moderately-Hardy</abbr>
                                                    <abbr title="Frost Tolerant"            ng-if="selection.hardiness == 'Hardy' ">Hardy</abbr>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <hr/>
                                        <a href="" class="button" ng-click="addProduceStep3()" ng-class="{ 'disabled': !error.date}">Add Produce</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product Select Modal -->
    
    
    <!-- Produce Details -->
    <div class="modal fade" id="gtModalDetails" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 ng-bind="gtSelection.label + ' ' + gtSelection.label_parent + ' Details'"></h3>
                </div>

                <div class="modal-body">
                    <table>
                        <tr ng-if="gtSelection.label">
                            <td style="width:50%;">Name / Variety</td>
                            <td ng-bind="gtSelection.label"></td>
                        </tr>
                        <tr ng-if="gtSelection.maturity">
                            <td style="width:50%;">Days To Maturity</td>
                            <td ng-bind="gtSelection.maturity"></td>
                        </tr>
                        <tr ng-if="gtSelection.harvest">
                            <td>Harvest Length</td>
                            <td ng-bind="gtSelection.harvest + ' Week/s'"></td>
                        </tr>
                        <tr ng-if="gtSelection.startType">
                            <td>Direct Sow / Seedlings</td>
                            <td ng-bind="gtSelection.startType"></td>
                        </tr>

                        <tr ng-if="gtSelection.spacing">
                            <td>Spacing</td>
                            <td  ng-bind="gtSelection.spacing + ' Inches'"></td>
                        </tr>
                        <tr ng-if="gtSelection.rowsPerBed">
                            <td>Rows Per Bed</td>
                            <td ng-bind="gtSelection.rowsPerBed"></td>
                        </tr>
                        <tr ng-if="gtSelection.vertical">
                            <td>Grow Vertically / Trellis </td>
                            <td ng-bind="gtSelection.vertical ? 'Yes'  : 'No'"></td>
                        </tr>
                        <tr ng-if="gtSelection.yield">
                            <td>Estimated Yield per 1.5' x 30' bed</td>
                            <td ng-bind="gtSelection.yield + ' ' + gtSelection.yieldType"></td>
                        </tr>
                        <tr ng-if="gtSelection.hardiness">
                            <td>Hardiness</td>
                            <td>
                                <abbr title="Will Not Survive Frost" ng-if="gtSelection.hardiness == 'Frost-Intolerant' ">Frost-Intolerant</abbr>
                                <abbr title="Protect From Frost" ng-if="gtSelection.hardiness == 'Frost-Sensitive' ">Frost-Sensitive</abbr>
                                <abbr title="Handle A Little Frost" ng-if="gtSelection.hardiness == 'Moderately-Hardy' ">Moderately-Hardy</abbr>
                                <abbr title="Frost Tolerant" ng-if="gtSelection.hardiness == 'Hardy' ">Hardy</abbr>
                            </td>
                        </tr>

                        <!-- If this is a hardy/moderately hardy plant -->
                        <tr ng-if="gtSelection.plantInside && (gtSelection.hardiness == 'Moderately-Hardy' || gtSelection.hardiness == 'Hardy') ">
                            <td>Start Seedlings Indoors</td>
                            <td ng-if="gtSelection.plantInside >= 0"><span ng-bind="gtSelection.plantInside"></span> Week/s After Average Last Day Of Frost</td>
                            <td ng-if="gtSelection.plantInside < 0"><span ng-bind="Math.abs(gtSelection.plantInside)"></span> Week/s Before Average Last Day Of Frost</td>
                        </tr>
                        <tr ng-if="gtSelection.plantOutside && (gtSelection.hardiness == 'Moderately-Hardy' || gtSelection.hardiness == 'Hardy') ">
                            <td>Plant Outdoors</td>
                            <td>
                                <div ng-if="gtSelection.plantOutside > 0"><span ng-bind="gtSelection.plantOutside"></span> Week/s After Average Last Day Of Frost</div>
                                <div ng-if="gtSelection.plantOutside < 0"><span ng-bind="Math.abs(gtSelection.plantOutside)"></span> Week/s Before Average Last Day Of Frost</div>
                                <div ng-if="gtSelection.plantOutside == 0">On The <abbr title="Average Last Day Of Frost">ALDF</abbr></div>
                            </td>
                        </tr>
                    </table>
                    
                    <hr/>
                    
                    <div ng-if="gtSelection.hardiness != 'Moderately-Hardy' && gtSelection.hardiness != 'Hardy'">
                        <h3>Frost/Temperature Considerations</h3>
                        <table>
                            <th colspan="2">Conventional Gardening</th>  
                            <tr ng-if="gtSelection.plantInsideWarm && (gtSelection.hardiness == 'Frost-Sensitive' || gtSelection.hardiness == 'Frost-Intolerant') ">
                                <td>Start Seedlings Indoors</td>
                                <td ng-if="gtSelection.plantInsideWarm >= 0"><span ng-bind="gtSelection.plantInsideWarm"></span> Week/s After Average Last Day Of Frost</td>
                                <td ng-if="gtSelection.plantInsideWarm < 0"><span ng-bind="Math.abs(gtSelection.plantInsideWarm)"></span> Week/s Before Average Last Day Of Frost</td>
                            </tr>
                            <tr ng-if="gtSelection.plantOutsideWarm && (gtSelection.hardiness == 'Frost-Sensitive' || gtSelection.hardiness == 'Frost-Intolerant') ">
                                <td>Plant Outdoors</td>
                                <td>
                                    <div ng-if="gtSelection.plantOutsideWarm > 0"><span ng-bind="gtSelection.plantOutsideWarm"></span> Week/s After Average Last Day Of Frost</div>
                                    <div ng-if="gtSelection.plantOutsideWarm < 0"><span ng-bind="Math.abs(gtSelection.plantOutsideWarm)"></span> Week/s Before Average Last Day Of Frost</div>
                                    <div ng-if="gtSelection.plantOutsideWarm == 0">On The <abbr title="Average Last Day Of Frost">ALDF</abbr></div>
                                </td>
                            </tr>   
                        </table>

                        <table>
                            <th colspan="2">With Cold Weather Gardening Techniques</th>
                            <tr ng-if="gtSelection.plantInside">
                                <td>Start Seedlings Indoors</td>
                                <td ng-if="gtSelection.plantInside >= 0"><span ng-bind="gtSelection.plantInside"></span> Week/s After Average Last Day Of Frost</td>
                                <td ng-if="gtSelection.plantInside < 0"><span ng-bind="Math.abs(gtSelection.plantInside)"></span> Week/s Before Average Last Day Of Frost</td>
                            </tr>
                            <tr ng-if="gtSelection.plantOutside || gtSelection.plantOutside == 0">
                                <td>Plant Outdoors</td>
                                <td>
                                    <div ng-if="gtSelection.plantOutside > 0"><span ng-bind="gtSelection.plantOutside"></span> Week/s After Average Last Day Of Frost</div>
                                    <div ng-if="gtSelection.plantOutside < 0"><span ng-bind="Math.abs(gtSelection.plantOutside)"></span> Week/s Before Average Last Day Of Frost</div>
                                    <div ng-if="gtSelection.plantOutside == 0">On The Average Last Day Of Frost</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div>
                        <a href="" class="has-tip button pull-right" data-dismiss="modal" aria-label="Close">Close</a>
                        <a href="" class="has-tip button" ng-click="deleteStep1(gtSelection)"><span class="glyphicon glyphicon-remove"></span>Delete</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End info modal window -->
    
    
</div>